<body>
<h1 class="display-1">Passes
    <div class="expand" style="display: inline-block">
        <a class="plus" (click)="form_active = !form_active"
           [attr.aria-expanded]="!form_active" aria-controls="collapseRequestPassForm">+</a>
    </div>
</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" *ngIf="form_active" id="collapseRequestPassForm">
        <app-pass-form></app-pass-form>
    </div>
</div>

<style>
    .tabs .tab a {
        color: white;
    }

    /*Black color to the text*/

    .tabs .tab a:hover {
        background-color: transparent;
        color: #000;
    }

    /*Text color on hover*/

    .tabs .tab a.active {
        background-color: transparent;
        color: white;
    }

    /*Background and text color when a tab is active*/

    .tabs .indicator {
        background-color: red; /*your color*/
    }
</style>
<div class="row" style="margin: 3%;">
    <ul class="tabs" materialize="tabs" style="background-color: transparent; color: white;">
        <li class="tab col s4"><a class="active" href="#active-fragment">Active</a></li>
        <li class="tab col s4"><a href="#pending-fragment">Pending</a></li>
        <li class="tab col s4"><a href="#old-fragment">Old</a></li>
    </ul>
</div>

<div id="active-fragment">
    <div class="row" style="margin-left: 10%; margin-right: 10%;" *ngIf="activePasses?.length > 0; else no_pass">
        <div *ngFor="let p of activePasses">
            <pass-card [pass]="p"></pass-card>
        </div>
    </div>
</div>

<div id="pending-fragment">
    <div class="row" style="margin-left: 10%; margin-right: 10%;" *ngIf="pendingPasses?.length > 0; else no_pass">
        <div *ngFor="let p of pendingPasses">
            <pass-card [pass]="p"></pass-card>
        </div>
    </div>
</div>

<div id="old-fragment">
    <div class="row" style="margin-left: 10%; margin-right: 10%;" *ngIf="oldPasses?.length > 0; else no_pass">
        <div *ngFor="let p of oldPasses">
            <pass-card [pass]="p"></pass-card>
        </div>
    </div>
</div>

<ng-template class="col s12 " #no_pass>
    <i class="large material-icons" style="display:block; color:white; text-align: center;">
        error_outline
    </i>
    <h3 class="pass-type text-center mt-5" style="color:white;">No passes. Send your teacher a request for
        one
        using the plus symbol
        above. The passes will display in the "pending" section until your teacher approves the pass.</h3></ng-template>
</body>
