<div class="pass-card card">
    <div class="card-body">
        <h5 class="card-title"><i
                class="fas fa-hourglass"></i> {{ pass.destination }}</h5>

        <h6 class="card-subtitle mb-2 text-muted">{{ pass.date|date:"N j Y" }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">
            {{ pass.startTimeRequested|date:"shortTime" }}
            - {{ pass.endTimeRequested|date:"shortTime" }}
        </h6>
        <p class="card-text">{{ pass.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li *ngIf="pass.timeLeftOrigin != 'null'" class="list-group-item">Time
            Left: {{ pass.timeLeftOrigin| date:'shortTime' }}</li>
        <li *ngIf="pass.timeArrivedDestination != 'null'" class="list-group-item">Time
            Arrived: {{ pass.timeArrivedDestination| date:'shortTime' }}</li>
        <!--<li *ngIf="pass.timeLeftOrigin != 'null' && pass.type != 'SRTPass'" class="list-group-item">Time
            Left: {{ pass.timeLeftOrigin|default:"N/A" }}</li>
        <li *ngIf="pass.timeArrivedDestination != 'null' && pass.type != 'SRTPass'" class="list-group-item">Time
            Arrived: {{ pass.timeArrivedDestination|default:"N/A" }}</li>
        <li *ngIf="pass.type == 'SRTPass'" class="list-group-item">{{ pass.srtpass.sessionStr }}</li>-->
        <li class="list-group-item">Origin
            Teacher: {{ pass.originTeacher_info.first_name }} {{ pass.originTeacher_info.last_name }}</li>
    </ul>
</div>
